# latex
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.idx
*.out
*.log
*.toc
*.gz
*.fdb_latexmk
*.fls
.vscode/settings.json

# executable files
assignment1/softmax_test
assignment1/softmax_auto
assignment1/softmax_avx
assignment1/softmax_plain
assignment2/build

# object files
assignment1/softmax_test.o
assignment1/softmax_auto.o
assignment1/softmax_avx.o
assignment1/softmax_plain.o

# plots
assignment2/results/plots_sencha/
assignment2/results/plots_spmnuma/
assignment2/results/plots_spmcluster/
