# latex
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.idx
*.out
*.log
*.toc
*.gz
*.fdb_latexmk
*.fls
.vscode/settings.json

# executable files
assignment1/softmax_test
assignment1/softmax_auto
assignment1/softmax_avx
assignment1/softmax_plain
